backend:
  env:
    - name: DATABASE_CONNECTION_STRING
      value: mysql+pymysql://root@keep-database:3306/keep
    - name: DATABASE_NAME
      value: keep-database
    - name: SECRET_MANAGER_TYPE
      value: k8s
    - name: PORT
      value: "8080"
    - name: PUSHER_APP_ID
      value: 1
    - name: PUSHER_APP_KEY
      value: keepappkey
    - name: PUSHER_APP_SECRET
      value: keepappsecret
    - name: PUSHER_HOST
      value: keep-websocket
    - name: PUSHER_PORT
      value: 6001
    - name: PROMETHEUS_MULTIPROC_DIR
      value: "/tmp/prometheus"
    - name: AUTH_TYPE
      value: "NO_AUTH"

frontend:
  env:
    - name: NEXTAUTH_SECRET
      value: secret
    - name: VERCEL
      value: 1
    - name: ENV
      value: development
    - name: NODE_ENV
      value: development
    - name: HOSTNAME
      value: 0.0.0.0
    - name: PUSHER_APP_KEY
      value: "keepappkey"
    - name: PUSHER_HOST
      value: "localhost"
    - name: PUSHER_PORT
      value: "6001"
    - name: API_URL
      value: "http://localhost:8080"
    - name: API_URL_CLIENT
      value: "http://localhost:8080"
    - name: KEEP_API_KEY
      value: "keep-api-key-12345"
    - name: AUTH_TYPE
      value: "NO_AUTH"
    - name: FRIGADE_DISABLED
      value: "true"
