elasticsearch:
  name: quickstart
  replicas: 2
  storageSize: 20Gi
  host: "https://quickstart-es-http.elastic-system.svc.cluster.local:9200"

kibana:
  enabled: true
  replicas: 1
  host: "https://kibana-kb-http.elastic-system.svc.cluster.local:5601"

agent:
  enabled: true
  version: 9.3.0
  mode: "standalone"
  namespace: "elastic-agent"
  elasticsearch:
    host: "https://quickstart-es-http.elastic-system.svc.cluster.local:9200"
    username: "elastic"
    passwordFromSecret:
      name: quickstart-es-elastic-user
      key: elastic
